<p style="color: green"><%= notice %></p>

<h1>Setors</h1>

<div id="setors">
  <% @setors.each do |setor| %>
    <%= render setor %>
    <p>
      <%= link_to "Show this setor", setor %>
    </p>
  <% end %>
</div>

<%= link_to "New setor", new_setor_path %>
